{% extends "::base.html.twig" %}

{% block headline %}{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}sonata_profile_title{% endtrans %}{% endblock %}{% endblock headline %}

{% block content %}
    <div class="content-wrapper col-sm-9">
        {% block content_content %}
        	{% block sonata_page_breadcrumb %}
                {% if breadcrumb_context is not defined %}
                    {% set breadcrumb_context = 'user_index' %}
                {% endif %}
        		<div class="row-fluid clearfix">
                    {{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
        		</div>
            {% endblock %}

            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

            {% block sonata_profile_content %}{% endblock sonata_profile_content %}

        {% endblock content_content %}
    </div>
    <div class="content-wrapper col-sm-3">
        {% block content_sidebar %}
        	<div class="sticky-wrapper waypoint" data-css-block="top">
            	{% block sonata_profile_menu %}
                    {{ sonata_block_render({'type': 'sonata.user.block.menu'}, {'current_uri': app.request.requestUri}) }}
                {% endblock %}
            </div>
        {% endblock content_sidebar %}
    </div>
{% endblock content %}




