{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block title %}{{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}{% endblock %}

{% block sonata_profile_title %}{{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}{% endblock %}

{% block sonata_profile_content %}
    <div class="form-section form-wrapper">
    	<div class="clearfix">
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        </div>


    	<form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
            {% form_theme form _self %}
            {% include "SonataUserBundle:Profile:edit_profile_content.html.twig" %}

			<div class="well well-small form-actions full-width-9 sticky-form-actions bottom">
				<div class="btn-group col-md-6">
                	<div class="btn-group btn-xs-block">
                		{{ back_to_top('chevron-up', 'button.back_to_top', 'SylrSyksSoftSymfonyCoreBundle') }}
                    </div>
            	</div>

    			<div class="btn-group col-md-6">
    				<div class="btn-group btn-xs-block col-xs-push-0 col-sm-push-7 col-md-push-7">
            			<button type="submit" id="_submit"  name="_submit" class="btn btn-primary btn-block col-xs-12 animatedClick"
            				data-animation="pulse">
                            {{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}
                            {{ icon('check') }}
            			</button>
            		</div>
    			</div>
        	</div>
    	</form>
    </div>
{% endblock %}
