<div class="clearfix">
	<div class="form-content col-sm-12 animated fadeInUp" data-animation="fadeInUp">
    	{% if delete is defined %}
    		<p>Are you sure you want to delete the movie: {{ title }} ?</p>
    	{% endif %}
    	{{ form_widget(form) }}
	</div>
</div>

