{% extends "AppBundle::layout.html.twig" %}

{% block title %}Create{% endblock %}

{% block headline %}Create | Movie{% endblock headline %}

{% block content %}
	<div class="form-section form-wrapper">
    	<form action="{{ action }}" {{ form_enctype(form) }} method="POST" class="movies-action form-horizontal">

            {% include "AppBundle:Movie:action_content.html.twig" %}

			<div class="well well-small form-actions full-width sticky-form-actions bottom">
        		<div class="btn-group col-md-6">
                	<div class="btn-group btn-xs-block">
                		{{ back_to_top('chevron-up', 'button.back_to_top', 'SylrSyksSoftSymfonyCoreBundle') }}
                    </div>
            	</div>

    			<div class="btn-group col-sm-6">
                	<div class="btn-group btn-xs-block col-xs-push-0 col-sm-push-7 col-md-push-6">
                		<a class="btn btn-success col-xs-12 animatedClick" data-animation="pulse" href="{{ path('cmis_nosql_movies') }}">
                            {{ icon('chevron-left') }}
                            {{ 'request_link_back_to_login_text'|trans({}, 'SonataUserBundle') }}
                        </a>
                	</div>
                	<div class="btn-group btn-xs-block col-xs-push-0 col-sm-push-7 col-md-push-6">
            			<button type="submit" id="_submit"  name="_submit" class="btn btn-primary btn-block col-xs-12 animatedClick"
            				data-animation="pulse">
                            {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}
                            {{ icon('check') }}
            			</button>
            		</div>
                </div>
        	</div>
    	</form>
    </div>
{% endblock content %}
