{% extends "AppBundle::layout.html.twig" %}

{% block title %}Movies{% endblock %}

{% block page_header %}
	<div class="row">
    	<div class="col-md-10">
    		<h1>{% block headline %}Movies{% endblock headline %}</h1>
    	</div>
    	{% if is_granted('ROLE_ADMIN') == true%}
        	<div class="btn-group col-md-2">
        		<a href="{{ path('cmis_nosql_movies_create') }}" class="btn btn-primary btn-lg" role="button">{{ icon('edit') }} Create</a>
        	</div>
    	{% endif %}
	</div>
{% endblock page_header %}

{% block content %}
	<div class="container">
		<div class="row">
        	{% for movie in movies %}
                    <div class="col-md-3 col-sm-6">
                    	<div class="panel panel-default animated bounceInLeft animation-delay-8">
                    		<div class="panel-heading">
        						<span class="text-right">{{ movie.year }}</span>
        						{% if is_granted('ROLE_ADMIN') == true%}
        							<div class="btn-group pull-right">
            							<button type="button" class="btn btn-primary btn-sm colxs-8">Action</button>
            							<button type="button" class="btn btn-primary btn-sm col-xs-3 dropdown-toggle"
                    						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    						<span class="caret"></span>
                							<span class="sr-only">Toggle Dropdown</span>
                    					</button>
                    					<ul class="dropdown-menu">
                                        	<li>
                                        		<a href="{{ path('cmis_nosql_movies_view', {'slug': movie.slug}) }}">View</a>
                							</li>
                                        	<li role="separator" class="divider"></li>
                                        	<li>
                                        		<a href="{{ path('cmis_nosql_movies_edit', {'id': movie.id}) }}">Edit</a>
                                        	</li>
                                        	<li role="separator" class="divider"></li>
                                        	<li>
                                        		<a href="{{ path('cmis_nosql_movies_delete', {'id': movie.id}) }}">Delete</a>
                                        	</li>
                                        </ul>
                                    </div>
        						{% endif %}
        					</div>
        					<div class="panel-body">
        						<a href="{{ path('cmis_nosql_movies_view', {'slug': movie.slug}) }}">
        							<img height="" width="" class="img-responsive" itemprop="image" 
        								src="/uploads/media/product_catalog/0001/01/thumb_53_product_catalog_small.jpeg" 
        								title="{{ movie.synopsis | truncate(80, true) }}" alt="{{ movie.title }}">
        						</a>
        					</div>
        					<div class="panel-footer">
        						<h6 class="panel-title truncate" itemprop="name">
        							<a href="{{ path('cmis_nosql_movies_view', {'slug': movie.slug}) }}">{{ movie.title }}</a>
        						</h6>
        					</div>
                    	</div>
                    </div>
    		{% endfor %}
        </div>
	</div>
{% endblock content %}