{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block headline %}{{ movie.title }}{% endblock headline %}

{% block content %}
	<div class="container">
		<div class="row">
        	<div class="panel panel-primary animated bounceInLeft animation-delay-8">
    			<div class="panel-body">
    				<dl class="dl-horizontal">
                      {% if not directors is empty %}
                          <dt>Directed by :</dt>
                          <dd>
                          	{% for director in directors %}
        						{{ director.fullName }}
        						{% if not loop.last %} | {% endif %}
        					{% endfor %}
                          </dd>
                      {% endif %}
                      {% if not writers is empty %}
                          <dt>Writed by :</dt>
                          <dd>
                          	{% for writer in writers %}
        						{{ writer.fullName }}
        						{% if not loop.last %} | {% endif %}
        					{% endfor %}
                          </dd>
                      {% endif %}
                      {% if not casts is empty %}
                          <dt>Cast :</dt>
                          <dd>
                          	{% for cast in casts %}
        						{{ cast.fullName }}
        						
        						{% if not cast.characters is empty %}
            						as
        							{% for character in cast.characters %}
        								{{ character.name }}
                						{% if not loop.last %} / {% endif %}
        							{% endfor %}
        						{% endif %}
        						
        						{% if not loop.last %} , {% endif %}
        					{% endfor %}
                          </dd>
                      {% endif %}
                      {% if not producers is empty %}
                          <dt>Produced by :</dt>
                          <dd>
                          	{% for producer in producers %}
        						{{ producer.fullName }}
        						{% if not loop.last %} | {% endif %}
        					{% endfor %}
                          </dd>
                      {% endif %}
                    </dl>
    			</div>
        	</div>
        </div>
	</div>
{% endblock content %}