
.animated {
	@include set-animation-property('duration', 1s);
	@include set-animation-property('fill-mode', both);
}

.animated.fadeInDown {
	@include set-animation-property('name', fadeInDown);
}

.animated.fadeInUp {
	@include set-animation-property('name', fadeInUp);
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
}