
.container {
	
	.section-title {
		background-color: $background-color-base;
		@include box-shadow($box-shadow-base);
		@include set-padding(5px, 20px);
	}
	
	.content {
		&.centered {
			@include center-block();
			width: 100%;
		}
		
		&.sm-content {
			max-width: $max-width-sm-content;
		}
		
		&.md-content {
			max-width: $max-width-md-content;
		}
		
		&.lg-content {
			max-width: $max-width-lg-content;
		}
		
		.sticky-wrapper {
			&.waypoint {
				.cms-block {
					&.stuck {
						position:fixed;
						z-index: 5;
						
						&.top {
							top: 0;
							margin-top: 20px;
							width: 263px;
						}
						
						&.bottom {
							bottom: 0;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	
	.form-section {
		@include center-block();
		width: 100%;
		
		.clearfix {
			@include set-margin-property('top', 10px);
			@include set-padding(20px, 0);
		}
		
		.form-content {
			background-color: $background-color-base;
			@include box-shadow($box-shadow-base);
			@include set-padding-property('top', 20px);
			
			.box-wrap {
				border-left: 5px solid transparent;
				@include set-padding(15px, 20px, 15px, 15px);
			    transition: $transition-box-wrap-base;
			    
				$shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
			    $bg-color: #F0F0F0;
				
			    &.focused {
			      background-color: $bg-color;
				  border-left-color: #3498DB;
				  @include box-shadow($shadow);
			    }
			    
			    &:hover {
				  background-color: $bg-color;
				  @include box-shadow($shadow);
				}
			}
		}
		
		.form-actions {
			@include set-margin-property('top', 10px);
			height: 110px;
			
			&.full-width {
				margin-left: -15px;
				margin-right: -15px;
			}
			
			&.full-width-9 {
				margin-left: -105px;
				margin-right: -405px;
			}
			
			&.stuck {
				position:fixed;
				width: 100%;
				z-index: 5;
				
				&.bottom {
					bottom: 0;
					margin-bottom: 0;
				}
				
				&.top {
					top: 0;
					margin-top: 0;
				}
			}
		}
	}
}

