
@media (min-width: $screen-sm-min) { 
	.container {
		.form-section {
			.form-actions {
				height: 70px;
				
				&.full-width {
					margin-left: -315px;
					margin-right: -315px;
				}
			}
		}
	}
}

