@import "../../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$background-color-base:    white;
$box-shadow-base:          0 0 3px rgba(0, 0, 0, 0.3);
$transition-box-wrap-base: border-left-color 0.5s ease 0s, box-shadow 0.5s ease 0s, background-color 0.5s ease 0s;

$false:                    nil;

$max-width-sm-content:     360px;
$max-width-md-content:     720px;
$max-width-lg-content:     1080px;

