{#
Overwrite the base template for forms User
#}

{% extends "::base.html.twig" %}

{% block content_div_start %}<div class="content centered  md-content">{% endblock content_div_start %}

{% block content %}
    <div class="content-wrapper col-sm-12">
        {% block content_content %}
            {% block fos_user_content %}{% endblock fos_user_content %}
        {% endblock content_content %}
    </div>
{% endblock content %}