{#
Overrides login template.
#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block title %}{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}{% endblock %}

{% block headline %}{{ 'base_login_title'|trans({}, 'SonataUserBundle') }}{% endblock headline %}

{% block fos_user_content %}
    <div class="form-section">
        {% block sonata_user_login %}
    	    {% block sonata_user_login_form %}
    			{% block sonata_user_login_error %}
    				{% if error %}
                		<div class="clearfix">
        					<div class="alert alert-danger alert-error">
        					    {{ error|trans({}, 'FOSUserBundle') }}
        					</div>
                		</div>
    				{% endif %}
    			{% endblock sonata_user_login_error %}
        		<form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
            		<div class="clearfix form-content">
            			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            			<div class="col-sm-12 animated fadeInUp" data-animation="fadeInUp">
                			<div class="form-group box-wrap">
            					<div class="input-group">
            						{{ base_macros.form_icon('base_login_input_username_placeholder', 'SonataUserBundle', 'user') }}
            						<input type="text" class="form-control" id="_username" name="_username"
            							value="{{ last_username }}" required="required"
            							placeholder="{{ 'base_login_input_username_placeholder'|trans({}, 'SonataUserBundle') }}"/>
            					</div>
        					</div>

                			<div class="form-group box-wrap">
                				<div class="input-group">
            						{{ base_macros.form_icon('base_login_input_password_placeholder', 'SonataUserBundle', 'key') }}
            						<input type="password" class="form-control" id="password" name="_password"
            							required="required"
            							placeholder="{{ 'base_login_input_password_placeholder'|trans({}, 'SonataUserBundle') }}"/>
            					</div>
        					</div>

                			<div class="form-group box-wrap">
                				<div class="checkbox pull-left">
            						<label for="remember_me">
            							<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            							{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            						</label>
            					</div>
                			</div>
            			</div>
            		</div>

                	<div class="well form-actions">
            			<div class="btn-group btn-block">
                			<div class="btn-group pull-right">
            					<button type="submit" id="_submit"  name="_submit" class="btn btn-primary col-xs-9 animatedClick"
            						data-animation="pulse">
            						{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
            						{{ icon('log-in') }}
            					</button>
            					<button type="button" class="btn btn-primary col-xs-3 dropdown-toggle"
            						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            						<span class="caret"></span>
        							<span class="sr-only">Toggle Dropdown</span>
            					</button>
            					<ul class="dropdown-menu">
                                	<li>
                                		<a href="{{ path('sonata_user_registration_register') }}">
                                            {{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}
        								</a>
        							</li>
                                	<li role="separator" class="divider"></li>
                                	<li>
                                		<a href="{{ path('fos_user_resetting_request') }}">
                                            {{ 'title_user_resetting'|trans({}, 'SonataUserBundle') }}
                    					</a>
                                	</li>
                                </ul>
            				</div>
            			</div>
                	</div>
    			</form>
    	    {% endblock sonata_user_login_form %}
        	<div class="panel panel-info animated fadeInLeft" data-animation="fadeInLeft">
        		<div class="panel-body">
        			<div class="controls col-sm-12">
        				{% block sonata_user_registration %}
        					<h4>{{ 'base_login_title_user_register'|trans({}, 'SonataUserBundle') }}</h4>
        					<span>
        					    {{ 'base_login_body_user_register_part1'|trans({}, 'SonataUserBundle') }}
        						<a href="{{ path('sonata_user_registration_register') }}">
        					        {{ 'base_login_body_user_register_part2'|trans({}, 'SonataUserBundle') }}
        						</a>
        					    {{ 'base_login_body_user_register_part3'|trans({}, 'SonataUserBundle') }}
        					</span>
                        {% endblock %}
        			</div>
        		</div>
        	</div>
        	<div class="panel panel-success animated fadeInRight" data-animation="fadeInRight">
        		<div class="panel-body">
        			<div class="controls col-sm-12">
        				<h4>{{ 'base_login_title_forgot_password'|trans({}, 'SonataUserBundle') }}</h4>
        				<span>
        				    {{ 'base_login_body_forgot_password_part1'|trans({}, 'SonataUserBundle') }}
        					<a href="{{ path('fos_user_resetting_request') }}">
        				        {{ 'base_login_body_forgot_password_part2'|trans({}, 'SonataUserBundle') }}
        					</a>
        				    {{ 'base_login_body_forgot_password_part3'|trans({}, 'SonataUserBundle') }}
        				</span>
        			</div>
        		</div>
        	</div>
        {% endblock sonata_user_login %}
    </div>
{% endblock fos_user_content %}
