// CSS3 animation Property

@mixin animation($parent, $value) {
  #{$parent} {
    -webkit-animation: $value;
    -moz-animation: $value;
    -o-animation: $value;
    animation: $value;
  }
}

// $property Possible values:
//	-	name
//  -	duration
//  -	timing-function
//  -	delay
//  -	iteration-count
//  -	direction
//  -	fill-mode
//  -	play-state
@mixin set-animation-property($property : 'name', $value : fadeInDown) {
  -webkit-animation-#{$property}: $value;
  -moz-animation-#{$property}: $value;
  -o-animation-#{$property}: $value;
  animation-#{$property}: $value;
}

