
@mixin set-margin($top, $right, $bottom : $false, $left : $false) {
  @if $bottom == $false {
     $bottom: $top;
  }
  
  @if $left == $false {
     $left: $right;
  }

  margin: $top $right $bottom $left;
}

@mixin set-margin-property($direction : 'top', $value : 0) {
  margin-#{$direction}: $value;
}

@mixin set-padding($top, $right, $bottom : $false, $left : $false) {
  @if $bottom == $false {
     $bottom: $top;
  }
  
  @if $left == $false {
     $left: $right;
  }

  padding: $top $right $bottom $left;
}

@mixin set-padding-property($direction : 'top', $value : 0) {
  padding-#{$direction}: $value;
}

