{% extends 'MopaBootstrapBundle::layout.html.twig' %}
{% import '::macros.html.twig' as base_macros %}

{% block favicon %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
{% endblock %}

{% block head_style %}
	{% stylesheets output="css/app.css"
        "@mopabootstrap_css"
        "@third_party_css"
        "@main_css"
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
    {% javascripts output="js/app.js"
        "@jquery"
        "@bootstrap_js"
        "@mopabootstrap_js"
        "@main_js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

