{% macro form_icon(translation, translation_domain, name, inverted) %}
	<span title="{{ translation|trans({}, translation_domain) }}" class="input-group-addon">
		{{ icon(name, inverted|default(false)) }}
	</span>
{% endmacro %}