{% extends "SonataUserBundle::layout.html.twig" %}

{% block title %}{{ 'title_user_resetting'|trans({}, 'SonataUserBundle') }}{% endblock %}

{% block headline %}{{ 'title_user_resetting'|trans({}, 'SonataUserBundle') }}{% endblock headline %}

{% block fos_user_content %}
		<div class="form-section form-wrapper">
    		{% if invalid_username is defined %}
    			<div class="clearfix">
                    <div class="alert alert-danger">
                        {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                    </div>
                </div>
            {% endif %}

        	<form action="{{ path('sonata_user_resetting_send_email') }}" method="post" class="form-horizontal">

                {% include "FOSUserBundle:Resetting:request_content.html.twig" %}

                <div class="well well-small form-actions full-width sticky-form-actions bottom">
                	<div class="btn-group col-sm-6">
                    	<div class="btn-group btn-xs-block">
                    		{{ back_to_top('chevron-up', 'button.back_to_top', 'SylrSyksSoftSymfonyCoreBundle') }}
                        </div>
                	</div>

					<div class="btn-group col-sm-6">
                    	<div class="btn-group btn-xs-block col-xs-push-0 col-sm-push-7 col-md-push-6">
                    		<a class="btn btn-success col-xs-12 animatedClick" data-animation="pulse" href="{{ path('sonata_user_security_login') }}">
                                {{ icon('chevron-left') }}
                                {{ 'request_link_back_to_login_text'|trans({}, 'SonataUserBundle') }}
                            </a>
                    	</div>
                    	<div class="btn-group btn-xs-block col-xs-push-0 col-sm-push-7 col-md-push-6">
                			<button type="submit" id="_submit"  name="_submit" class="btn btn-primary btn-block col-xs-12 animatedClick"
                				data-animation="pulse">
                                {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
                                {{ icon('check') }}
                			</button>
                		</div>
                    </div>
                </div>
            </form>
        </div>
{% endblock fos_user_content %}
