
<div class="clearfix">
	<div class="form-content col-sm-12 animated fadeInUp" data-animation="fadeInUp">
        <div class="form-group box-wrap">
    		<div class="input-group">
    			<span title="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" class="input-group-addon">
    				{{ icon('user') }} / {{ icon('envelope') }}
    			</span>
    			<input type="text" class="form-control" id="username" name="username"
    				required="required"
    				placeholder="{{ 'base_login_input_username_placeholder'|trans({}, 'SonataUserBundle') }}"/>
    		</div>
        </div>
    </div>
</div>
